.body
  margin: 0
  
.wrapper
  background-color: #000000
  display: grid
  grid-template-columns: auto
  grid-template-rows: auto auto auto auto auto auto
  grid-template-areas: "intro" "aboutme" "summaryintro" "summary" "history" "work" "contact"
  max-width: auto
  font-family: -apple-system, BlinkMacSystemFont, sans-serif
  color: white

  .intro
    grid-area: intro
    display: grid
    grid-template-columns: auto auto
    grid-template-rows: 1fr
    grid-template-areas: "logo face"
    justify-items: center

    .logo
      grid-area: logo
      align-items: center
      justify-items: center

    .face
      grid-area: face

  .aboutme
    grid-area: aboutme

  .summaryintro
    grid-area: summaryintro
    text-align: center

  .summary
    grid-area: summary
    display: grid
    grid-template-columns: auto auto auto
    grid-template-rows: 1fr
    grid-template-areas: "sum1 sum2 sum3"
    text-align: center

    .skills
      grid-area: sum1
      text-align: center

    .loves
      grid-area: sum2
      text-align: center

    .passions
      grid-area: sum3
      text-align: center

  .history
    grid-area: history

  .work
    grid-area: work

  .contact
    grid-area: contact
  
  .box
    padding-top: 110px

  .tag
    padding-left: 10px