.body
  margin: 0

// Full size grid  
.wrapper
  background-color: #000000
  display: grid
  grid-template-columns: auto
  grid-template-rows: auto auto auto auto auto
  grid-template-areas: "intro" "summaryintro" "summary" "history" "projects" "contact"
  max-width: auto
  font-family: -apple-system, BlinkMacSystemFont, sans-serif
  color: white

  .gridmarginwrapper
    margin-left: 40px
    margin-right: 40px

    .intro
      grid-area: intro
      display: grid
      grid-template-columns: auto auto
      grid-template-rows: 1fr
      grid-template-areas: "logo face"
      justify-items: center

      .logo
        grid-area: logo
        align-items: center
        justify-items: center

      .face
        grid-area: face

    .summary
      grid-area: summary
      display: grid
      grid-template-columns: auto auto auto
      grid-template-rows: 1fr
      grid-template-areas: "sum1 sum2 sum3"
      text-align: center
      padding-top: 50px
      padding-bottom: 25px

      .skills
        grid-area: sum1
        text-align: center

      .loves
        grid-area: sum2
        text-align: center

      .passions
        grid-area: sum3
        text-align: center

    .cv
      grid-area: history
      text-align: center
      padding-top: 0px
      padding-bottom: 25px

      .cv_grid
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))

        .cv_card
          .hover-image
            width: 100%
            height: 100%
            object-fit: cover

    .projects
      grid-area: projects
      text-align: center
      padding-top: 0px
      padding-bottom: 25px

      .project_grid
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))
        // grid-template-columns: 1fr 1fr 1fr
        // grid-template-rows: 400px
        // grid-template-areas: "one two three" "four five six" "seven eight nine" "ten eleven ..."

        .project_card
          img
            width: 100%
            height: 100%
            object-fit: cover
            max-height: 240px
            max-width: auto

        // #cv_1
        //   grid-area: one

        // #cv_2
        //   grid-area: two

        // #cv_3
        //   grid-area: three

        // #cv_4
        //   grid-area: four

        // #cv_5
        //   grid-area: five

        // #cv_6
        //   grid-area: six

        // #cv_7
        //   grid-area: seven

        // #cv_8
        //   grid-area: eight

        // #cv_9
        //   grid-area: nine

        // #cv_10
        //   grid-area: ten

        // #cv_11
        //   grid-area: eleven

    .contact
      grid-area: contact
      text-align: center
      padding-top: 0px
      padding-bottom: 25px

  //Additional CSS assets
  .box
    padding-top: 110px

  .tag
    padding-left: 10px

  .aboutme
    text-align: left
    padding-left: 5px
    padding-top: 45px

  .linecenter
    display: block
    height: 1px
    width: 75px
    border: 0
    border-top: 1px solid #ffffff
    margin-left: auto
    margin-right: auto 