.aboutme
    %h3 I've spent my career in analysis, strategy and execution.
    %h3 I've worked with market-leading companies in the digital and media sectors. 
    %h3 I love cutting edge technology and its ability to make life better. 
    %h3 I'm mission driven and I love the chase.