.contact
    %h2 CONTACT
    .linecenter

    %form{:name => "contact", :netlify => ""}
    %p
        %label
        Name
        %input{:name => "name", :type => "text"}/
    %p
        %label
        Email
        %input{:name => "email", :type => "email"}/
    %p
        %button{:type => "submit"} Send

.contact_grid
    .social
        %a{href: "https://www.linkedin.com/in/rupertlion/" }
            %img(src="/images/linkedin.png")
        %a{href: "https://www.facebook.com/rupert.lion.7" }
            %img(src="/images/facebook.png")
        %a{href: "https://twitter.com/rupertlion" }
            %img(src="/images/twitter.png")
        %a{href: "https://www.instagram.com/thetribalapp/?hl=en)" }
            %img(src="/images/instagram.png")