.contact
    %h2 CONTACT
    .linecenter

    // image with envelope logo

    %form{:name => "contact", :netlify => ""}
    %p
        %label
        Name
        %input{:name => "name", :type => "text"}/
    %p
        %label
        Email
        %input{:name => "email", :type => "email"}/
    %p
        %button{:type => "submit"} Send


    // logos and links for social media