.cv
    %h2 MY HISTORY
    .linecenter
    .cv_grid
        - data.cv.each do |cv|
            .cv_card{id:"#{cv.id}"}
                %h3= cv[:description]
                %h4= cv[:role]
                %img{src: cv[:image] }
                %h3= cv[:years]