%h2
    MY HISTORY
    .line
.cv
    - data.cv.each do |project|
        %h4= project[:role]
        %h2= project[:description]
        %img{:src => project[:logo] }
        %img{:src => project[:image] }
        %h3= project[:years]
