.projects
    %h2 MY WORK
    .linecenter
    .project_grid
        - data.projects.each do |project|
            .project_card{id:"#{project.id}"}
                .hover.effect-9
                    .hover-image{:alt => "", :style => "background-image: url('#{project[:image]}')"}
                        %h3.hover-title= project[:name]
                        .hover-caption
                            %h4= project[:description]

-# code to add for hyperlinks
-# %a{:href => project[:url] }