.projects
    %h2 MY WORK
    .linecenter
    .project_grid
        - data.projects.each do |project|
            .project_card{id:"#{project.id}"}
                %h4= project[:role]
                %h2= project[:description]
                %img{src: project[:logo] }
                    #myprojectphoto
                        %img{src: project[:image] }
                    %h3= project[:years]