.projects
    %h2 MY WORK
    .linecenter
    .project_grid
        - data.projects.each do |project|
            .project_card{id:"#{project.id}"}
                %h3= project[:description]
                %a{:href => project[:url] }
                    %img{:src => project[:image] }