.aboutme
    %h1 Rupert is a digital enthusiast currently living in Stockholm
    %h4 MY SKILLS
    %ul
        %p 1st item
        %p 2nd item
        %p 3rd item 
    %h4 MY LOVES
    %ul
        %p 1st item
        %p 2nd item
        %p 3rd item
    %h4 MY PASSIONS
    %ul
        %p 1st item
        %p 2nd item
        %p 3rd item
