.skills
    %h4 MY SKILLS
    .linecenter
    %ul
    %p 1st item
    %p 2nd item
    %p 3rd item 

.loves
    %h4 MY LOVES
    .linecenter
    %ul
    %p 1st item
    %p 2nd item
    %p 3rd item

.passions
    %h4 MY PASSIONS
    .linecenter
    %ul
    %p 1st item
    %p 2nd item
    %p 3rd item
