= partial 'partials/navigation'
.logodesign
    %img{:src => "images/rupert_face.jpg"}
        %img{:src => "images/rupert_logo.png"}
        %h3 CREATE / SOLVE / INNOVATE

= partial 'partials/projects'
= partial 'partials/cv'